<style>

@font-face {
    font-family: 'Roboto Condensed';
    src: url('robotocondensed-regular-webfont.woff2') format('woff2'),
         url('robotocondensed-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Lato';
    src: url('lato-regular-webfont.woff2') format('woff2'),
         url('lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* Dropdown Button */
.dropbtn {
  font-size: 17px;
  font-family: 'Roboto Condensed', 'Lato', Helvetica, sans-serif;
  letter-spacing:2px;
    background-color: #FFFFFF;
    color:#959595;
    /*color: #333333;*/
    /*padding: 16px;*/
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    min-width: 100px;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    font-size: 13px;
    -o-transition:.5s;
 -ms-transition:.5s;
 -moz-transition:.5s;
 -webkit-transition:.5s;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    color: #333333;
    -o-transition:.5s;
 -ms-transition:.5s;
 -moz-transition:.5s;
 -webkit-transition:.5s;
}

.grid table {
  overflow-y: scroll;
  height: 75%;
  font-family: 'Lato', 'Roboto Condensed', Helvetica, sans-serif;;
  /*text-align: center;*/
  position: relative;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  /*max-width: 700px;*/
  /*position:relative;
  width:560px;
  height:310px;
  -webkit-transition: opacity 0.8s ease-in-out;
  -moz-transition: opacity 0.8s ease-in-out;
  -o-transition: opacity 0.8s ease-in-out;
  -ms-transition: opacity 0.8s ease-in-out;
  transition: opacity 0.8s ease-in-out;*/
}

.grid td {
  max-width: 500px;
  /*padding-top: 10px;*/
  /*padding-right: 150px;*/
  padding-left: 20px;
}

.grid img {
  max-width: 300px;
  width: auto;
  height: auto;
}

.grid a {
  text-decoration:none;
  color:#959595;
  -o-transition:.5s;
 -ms-transition:.5s;
 -moz-transition:.5s;
 -webkit-transition:.5s;
}

.grid a:hover {
  color: #333333;
}



#h1 {
  float: left;
  padding-top: 5px;
  padding-left:10px;
  padding-bottom: 10px;
  text-align: left;
  font-style: bold;
  font-family: 'Roboto Condensed', 'Lato', Helvetica, sans-serif;
  font-size:30px;
  color: #333333;
  letter-spacing:3px;
}

a {
  text-decoration:none;
  color:#333333;
}

#nav ul {
  color:#959595;
  margin: 0px;
  display: inline-block;
  vertical-align:top;
  text-align: right;
  font-family: 'Roboto Condensed', 'Lato', Helvetica, sans-serif;
}

#nav ul li {
  padding: 15px;
  display: table-cell;
   font-size: 17px;
   letter-spacing:2px;
}


#nav a {
  display:inline-block;
  text-decoration: none;
  color: #959595;
  display: block;
  -o-transition:.5s;
 -ms-transition:.5s;
 -moz-transition:.5s;
 -webkit-transition:.5s;
}

#nav a:hover {
  color: #333333;
}

#nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}



@media screen and (min-width: 600px) {
  .nav li {
    width: 200px;
    font-size: 1.4em;
    display: inline-block;
  }

}



</style>
