<style>
@font-face {
    font-family: 'Roboto Condensed';
    src: url('robotocondensed-regular-webfont.woff2') format('woff2'),
         url('robotocondensed-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Lato';
    src: url('lato-regular-webfont.woff2') format('woff2'),
         url('lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
    display: none;
}

/* Next & previous buttons */
/*.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}*/

/* Position the "next button" to the right */
/*.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}*/

/* On hover, add a black background color with a little bit see-through */
/*.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}*/

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 3s;
}

@-webkit-keyframes fade {
  from {opacity: .2} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


#footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    overflow: visible;
    z-index: 99;
    /*font-family: Slim Joe,serif;*/
    background-color:#FFFFFF;
    color:#000000;
    clear:both;
    text-align:center;
    padding:5px;
}



.grid img {
   width: auto;
   max-width: 75%;
   height: auto;
   max-height: 75%;
   opacity:1.0;
   transition: opacity 1s;

}

.grid img.fadeOut {
  opacity:0;
}

.grid table {
  margin-left: auto;
  margin-right: auto;
}

.grid td {
  text-align: center;
  padding:20px;
}


h1 {
  padding-top: 50px;
  padding-bottom: 0px;
  text-align: center;
  font-family: 'Roboto Condensed', 'Lato', Helvetica, sans-serif;
  font-size:50px;
  color: #333333;
  letter-spacing:5px;
}

a {
  text-decoration:none;
  color:#333333;
}

.nav ul {
  text-align: center;
  font-size: 13px;
  font-family: 'Roboto Condensed', 'Lato', Helvetica, sans-serif;
  letter-spacing:2px;
}


.nav a {
  text-decoration: none;
  color: #959595;
  display: block;
  -o-transition:.5s;
 -ms-transition:.5s;
 -moz-transition:.5s;
 -webkit-transition:.5s;
}

.nav a:hover {
  color: #333333;
}

.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

/* Dropdown Button */
/*.dropbtn {
  text-decoration: none;
  background: white;
  border: none;
  cursor: pointer;
  text-align: center;
  font-size: 13px;
  font-family: 'Roboto Condensed', 'Lato', Helvetica, sans-serif;
  letter-spacing:2px;
}*/

/* The container <div> - needed to position the dropdown content */
/*.dropdown {
    position: relative;
    display: inline-block;
}*/

/* Dropdown Content (Hidden by Default) */
/*.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}*/

/* Links inside the dropdown */
/*.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}*/

/* Show the dropdown menu on hover */
/*.dropdown:hover .dropdown-content {
    display: block;
}*/

/* Change the background color of the dropdown button when the dropdown content is shown */
/*.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}*/

@media screen and (min-width: 600px) {
  .nav li {
    width: 200px;
    font-size: 1.4em;
    display: inline-block;
  }

}
</style>
