<style>
@font-face {
    font-family: 'Roboto Condensed';
    src: url('robotocondensed-regular-webfont.woff2') format('woff2'),
         url('robotocondensed-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Lato';
    src: url('lato-regular-webfont.woff2') format('woff2'),
         url('lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* Dropdown Button */
.dropbtn {
  font-size: 17px;
  font-family: 'Roboto Condensed', 'Lato', Helvetica, sans-serif;
  letter-spacing:2px;
    background-color: #FFFFFF;
    color:#959595;
    /*color: #333333;*/
    /*padding: 16px;*/
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    /*position: relative;*/
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    min-width: 100px;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
/*.dropdown-content a:hover {background-color: #f1f1f1}*/

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    font-size: 13px;
    -o-transition:.5s;
 -ms-transition:.5s;
 -moz-transition:.5s;
 -webkit-transition:.5s;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    color: #333333;
    -o-transition:.5s;
 -ms-transition:.5s;
 -moz-transition:.5s;
 -webkit-transition:.5s;
}

#h1 {
  float: left;
  padding-top: 5px;
  padding-left:10px;
  padding-bottom: 10px;
  text-align: left;
  font-style: bold;
  font-family: 'Roboto Condensed', 'Lato', Helvetica, sans-serif;
  font-size:30px;
  color: #333333;
  letter-spacing:3px;
}

a {
  text-decoration:none;
  color:#333333;
}

#nav ul {
  color:#959595;
  margin: 0px;
  display: inline-block;
  vertical-align:top;
  text-align: right;
  font-family: 'Roboto Condensed', 'Lato', Helvetica, sans-serif;
}

#nav ul li {
  padding: 15px;
  display: table-cell;
   font-size: 17px;
   letter-spacing:2px;
}


#nav a {
  /*display:inline-block;*/
  text-decoration: none;
  color: #959595;
  display: block;
  -o-transition:.5s;
 -ms-transition:.5s;
 -moz-transition:.5s;
 -webkit-transition:.5s;
}

#nav a:hover {
  color: #333333;
}

#nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

.grid {
  margin-top: 50px;
  overflow-y: scroll;
    height: 100%;
}

.grid img {
   width: auto;
   max-width: 400;
   height: auto;
   max-height: 650px;
   opacity:1.0;

}

.grid table {
  margin-left: auto;
  margin-right: auto;
}

.grid td {
  padding:10px;
}

#subtitle {
  padding-top: 10px;
  text-align: center;
  color:#959595;
  display: block;
  font-family: Helvetica;
  font-size: 12px;
}


@media screen and (min-width: 600px) {
  .nav li {
    width: 200px;
    font-size: 1.4em;
    display: inline-block;
  }

}
</style>